html{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    margin: 0;
}

.wholepage{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
    margin: 15px 460px 100px 460px;
    flex-wrap: wrap;

}

.link1{
    margin-right: 20px;
}

.link2{
    margin-right: 20px;
}

.logo{
    margin-right: auto;
}

.firstpart{
    justify-content: center;
    display: flex;
    color: white;
    margin: 0 100px 100px 100px
}

.firstcontent{
    margin-right: 50px;
}

button{
background-color: #3882f6;
border-radius: 5px;
padding: 10px 35px 10px 35px;
color: white;
}


.placeholder{
    background-color: gray;
    display: flex;
    width: 550px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.secondpart{
    display: flex;
    background-color: white;
    align-items: center;
    flex-direction: column;
    padding-bottom: 85px;

}

.rando{
    font-size: 250%;
    font-weight: 900;
    margin: 30px 0px 10px 0px;
}

.allboxes{
    display: flex;
}

.boxcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.box{
    border-radius: 25px;
    border: 4px solid #2b80ff;
    padding: 20px;
    width: 160px;
    height: 161px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.thirdpart{
    display: flex;
    background-color: rgb(185, 184, 184);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.quote{
    margin-top: 100px;
    text-align: left;
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
}

.quoted{
    text-align: right;
    font-size: 25px;
    font-weight: bolder;
    margin: 0px 0px 50px 350px;
}

.fourthpart{
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.bluebox{
    display: flex;
    padding: 20px 15px 20px 15px;
    background-color: rgb(97, 126, 255);
    color: white;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
}